.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.campaignIcon {
  max-width: 50px;
  border-radius: 20px;
  margin-right: 20px;
}

.carImg {
  max-width: 200px;
  border-radius: 20px;
}

.campTitle {
  font-size: 20px;
  font-weight: bolder;
  display: block;
}

.campRate {
  font-size: 18px;
  color: green
}

.campTitle, .campRate {
  text-align: left;
}

.campRateB {
font-weight: bolder;
}

.campaignIcon, .campaignInfo {
  display: inline-block;
}

.carLinks {
  display: flex;
  justify-content: space-evenly;
}

.link, .download {
  /* display: inline-block; */
  font-size: 50px;
  color: grey;
  cursor: pointer;
}

.carouselImage {
  position: relative;
}

.videoIcon {
  color: grey;
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 40%;
  font-size: 50px;
  cursor: pointer;
}

.boxTop {
  margin-bottom: 10px;
  margin-top: 50px;
}

#headerIcon {
  width: 50px;
  margin-top: 20px;
}